/* ПАРАГРАФИ Основний колір тексту #757575 */
/* ЗАГОЛОВКИ Додатковий колір тексту #212121 */
/* Блакитний Акцент #2196F3 */
/* Білий #FFFFFF */
/* Білий з прозорістю rgba(255, 255, 255, 0.6); */
/* Фон основний #FFFFFF */
/* Фон додатковий #F5F4FA */
/* Фон футер #2F303A*/

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;

    --primary-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --accent-background-color: #2F303A;

    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color); 

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Прибирає автоматичні відступи, поля і крапки у списках */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*------------------------------BUTTON------------------------------*/
.button {
    font-family: inherit;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 4px;
}
 
.button.primary {
    padding: 10px 32px;
    min-width: 216px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    text-align: center;
}
.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
}

.button.secondary {
    padding: 6px 25px;
    
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* -----------------------------CONTAINER------------------------------- */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

/* ---------------------------------HEADER------------------------------ */
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

/*----------------------------------ЛОГОТИП------------------------------*/
.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

/*----------------------------------НАВІГАЦІЯ----------------------------*/
.site-nav .link {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link.current:hover,
.site-nav .link.current:focus {
    color: var(--secondary-text-color);
}

/*----------------------------------АВТОРИЗАЦІЯ--------------------------------*/
.autho .link {
    color:var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.autho .link:hover,
.autho .link:focus {
    color:var(--accent-color)
}

/*----------------------------------ГЕРОЙ--------------------------------*/
.hero {
    background-color: var(--accent-background-color);
    text-align: center;
}
.hero .title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*-------------------------------СЕКЦІЇ----------------------------------*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*-------------------------------ПЕРЕВАГИ------------------------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding-bottom: 0;
}

.features .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.71;
}

/*-------------------------------НАША КОМАНДА---------------------------*/
.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    font-size: 16px;
    line-height: 1.12;
}
.team-list .title {
    margin-top: 30px;
    margin-bottom: 0;
    
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
}
.team-list .text {
    margin-top: 10px;
    margin-bottom: 0;
}


/* ПОРТФОЛІО */
.portfolio .link {
    text-decoration: none;
}

.portfolio .title {
    color: var(--secondary-text-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    font-size: 16px;
    line-height: 1.88;
}

/*----------------------------------ФУТЕР--------------------------------*/
.footer {
    background-color: var(--accent-background-color);
    color: var(--primary-white-color); 
}

.footer .logo {
    color: var(--primary-white-color);
}

.contacts {
    font-style: normal;
    line-height: 1.71;
}
.contacts .link {
    color: rgba(255, 255, 255, 0.6);
    
    text-decoration: none;
}

.contacts .link:hover,
.autcontactsho .link:focus {
    color: var(--accent-color);
}
